In [1]:
# 튜플
single_tuple = ("apple",) # 싱글 튜플은 반드시 항목 끝에 쉼표가 있어야 함
single_tuple

('apple',)

In [3]:
no_tuple = ("apple")
no_tuple # 튜플은 항목이 괄호 안에 싸여서 나옴

'apple'

In [5]:
fruits = ("apple", "grape", "banana")
fruits[1] # 인덱스를 사용해 접근 가능하다

'grape'

In [7]:
fruits[1] = "pear" # 단 인덱스 값은 직접 변경할 수 없다

TypeError: 'tuple' object does not support item assignment

In [5]:
# 튜플과 리스트 비교
myList = [1, 2, 3, 4]
myTuple = tuple(list) # 매개변수를 튜플로 바꿔 생성하는 함수
# tuple은 예약어라 변수로 사용 불가 -> 주의하기
myTuple

(1, 2, 3, 4)

In [13]:
myTuple = (1, 2, 3, 4)
myList = list(myTuple)
myList

[1, 2, 3, 4]

In [14]:
# 튜플 연산
fruits = ("apple", "banana", "grape")
fruits += ("pear", "kiwi") # fruits 튜플에 항목 추가
fruits

('apple', 'banana', 'grape', 'pear', 'kiwi')

In [16]:
numbers = [1, 2, 3, 4]
numbers += (5, 6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [17]:
# 튜플 패킹, 언패킹
x = ("apple", "banana", "grape") # 튜플 패킹
(s1, s2, s3) = x # 튜플 언패킹 -> x에 있었던 세 항목이 각각 s1, s2, s3에 들어감
print(s1)
print(s2)
print(s3)

s1, s2, s3 = x # 괄호 없어도 됨
print(s1)
print(s2)
print(s3)

apple
banana
grape
apple
banana
grape

In [19]:
student = ("Kim", [3.1, 4.2, 2.4, 2,2])
name, grades = student # Kim이 name에, 실수들이 grades에 저장됨
print(name)
print(grades)

Kim
[3.1, 4.2, 2.4, 2, 2]

In [21]:
n1 = 10 # 10
n2 = 90 # 90
n1, n2 = (n2, n1) # 값 바꾸기
print(n1) # 90
print(n2) # 10

90
10

In [24]:
# enumerate(): 인덱스 번호, 원소 값에 접근 가능한 함수
fruits = ["apple", "banana", "grape"]
for index, value in enumerate(fruits): # index는 원소의 인덱스 번호, value는 원소에 저장된 값
    print(index, value) # 이를 차례대로 출력

0 apple
1 banana
2 grape

In [1]:
fruits = ["apple", "banana", "grape"]
result = list(enumerate(fruits)) 
# fruits의 인덱스 번호와 실제 값에 접근한 후 그 둘을 짝으로 하여 리스트 속 하나의 원소로 다시 만듦

print(result)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]

## 튜플의 장점: 튜플을 통한 반복이 리스트를 통한 반복보다 빠르다
### -> 내부적으로 처리 코드가 더 단순하다
### => 시험에 튜플의 장점, 튜플과 리스트의 차이점 등으로 문제 나올 가능성 있음

## 세트: 수학의 집합과 같음 
### -> 고유한 값들을 저장하는 자료구조
### 리스트와 달리 특정 순서가 있는게 아니기 때문에 위치에 따른 접근이 불가능하다
### 리스트 연산에 비해 훨씬 빠르다(순서가 없으므로 더 단순한 구조다)

In [32]:
numbers = set([1, 2, 3, 4, 5, 6, 7, 3, 4, 5])
print(numbers)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
letters = set("abc") # 문자열 abc를 각각 한글자로 분해하고 그 3개의 글자들을 한 묶음(세트)로 만든다
letters

{'a', 'b', 'c'}

In [36]:
numbers = set() # 비어있는(디폴트) 세트 생성
numbers

set()

In [38]:
# 세트의 연산
fruits = {"apple", "banana", "grape"} # 세트로 만들어짐
size = len(fruits) # 세트 안의 원소들의 개수를 반환, size에 저장
size

3

In [41]:
# 임의 항목 있는지 검사
fruits = {"apple", "banana", "grape"}
if "apple" in fruits: 
    print("집합 안에 apple이 있습니다.")

집합 안에 apple이 있습니다.

In [42]:
fruits = {"apple", "banana", "grape"}
for x in fruits:
    print(x, end = " ")

banana grape apple

In [44]:
fruits = {"apple", "banana", "grape"}
for x in sorted(fruits): # fruits 세트를 사전식으로 정렬
    print(x, end = " ")

apple banana grape

In [47]:
# 세트 요소 추가
fruits = {"apple", "banana", "grape"}
fruits.add("kiwi") # add()함수로 임의 항목을 세트에 추가 
# 하지만 순서(인덱스 번호)가 없으므로 슬라이스 연산, 인덱싱 등은 의미가 없음(불가능함)
fruits

{'apple', 'banana', 'grape', 'kiwi'}

In [54]:
# 세트 요소 삭제
fruits = {"apple", "banana", "grape", "kiwi"}
fruits.remove("kiwi") # 세트에서 매개변수로 오는 항목을 삭제
# 삭제할려고 받은 매개변수가 세트에 없으면(ex: 세트에 없는 pear를 삭제하려고 할때) 오류 발생
fruits

{'apple', 'banana', 'grape'}

In [56]:
# clear(): 세트 안의 모든 요소를 삭제
fruits = {"apple", "banana", "grape", "kiwi"}
fruits.clear()
fruits

set()

In [58]:
# update(): 한번에 여러 개의 항목을 세트에 추가할 때
fruits = {"apple", "banana", "grape"}
fruits.update(["kiwi", "pear"])
# 그냥 문자열로 입력하면 세트의 특성(문자열을 전부 한글자로 쪼개서 저장)때문에 온전한 문자열로 저장되지 않음
# 문자열을 보호할 수 있는 대괄호 추가
fruits

{'apple', 'banana', 'grape', 'kiwi', 'pear'}

In [61]:
# 세트 함축 연산
aList = [1, 2, 3, 4, 5, 6, 1, 2]
result = {x for x in aList if x % 2 == 0} # 짝수만 출력
# 리스트에서 했던것처럼 세트 선언 중괄호 안에 모든 식을 다 넣음
result

{2, 4, 6}

## 튜플: 소괄호
## 세트: 중괄호
## 리스트: 대괄호

## 부분 집합 연산
### '<' 연산자나 issubset() 메서드 사용
### '<=' 연산자는 진부분 집합 검사

In [63]:
a = {"apple", "banana", "grape"}
b = {"apple", "banana", "grape", "kiwi"}

if a < b: # < 연산자로 두 집합 간의 부분집합 여부를 검사
    print("a는 b의 부분 집합입니다.")

if a.issubset(b): # issubset()함수로도 부분집합 검사 가능
    print("a는 b의 부분 집합입니다.")

a는 b의 부분 집합입니다.
a는 b의 부분 집합입니다.

In [64]:
a = {"apple", "banana", "grape"}
b = {"apple", "banana", "grape", "kiwi"}

if a == b:
    print("a와 b는 같습니다.")
else:
    print("a와 b는 같지 않습니다.")

a와 b는 같지 않습니다.

In [72]:
# 세트의 합집함
a = {"apple", "banana", "grape"}
b = {"apple", "banana", "grape", "kiwi"}

print(a | b) # '|' 연산자 사용(or)
print(a.union(b)) # union()함수 사용(집합 a에 대해 집합 b를 합집합)

{'apple', 'kiwi', 'banana', 'grape'}
{'apple', 'kiwi', 'banana', 'grape'}

In [73]:
# 세트의 교집합
a = {"apple", "banana", "grape"}
b = {"apple", "banana", "kiwi"}

print(a & b) # '&' 연산자 사용(and)
print(a.intersection(b)) # intersection()함수 사용(집합 a에 대해 집합 b를 교집합)

{'apple', 'banana'}
{'apple', 'banana'}

In [75]:
# 세트의 차집함
a = {"apple", "banana", "grape"}
b = {"apple", "banana", "kiwi"}

print(a - b) # '-' 연산자 사용(빼기)
print(a.difference(b)) # difference()함수 사용(집합 a에 대해 집함 b를 차집합)

{'grape'}
{'grape'}

In [77]:
# 리스트와 세트 변환
# list(), set()함수 사용
list1 = [1, 2, 3, 4, 5, 6]
len(set(list1)) # 리스트를 세트로 변환한 항목의 개수 출력

6

In [80]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
set(list1) & set (list2) # 두 리스트를 세트로 변환한 항목 중에서 겹치는 항목만 출력

{3, 4, 5}

## 세트에서 사용할 수 있는 연산들 외우기(시험나올 가능성 있음)

## 딕셔너리
### 딕셔너리 또한 값을 저장하는 자료구조 중 하나
### 딕셔너리에는 값도 있지만 그 값(value)과 관련된 키(key)도 있음
### 키는 반드시 불변 객체여야 하고 유일해야 함
### -> 즉 유일하게 존재하는(중복이 없는) 문자열이나 숫자가 옴(튜플도 가능)
### 값은 모든 자료형이 올 수 있음
### 리스트에서 인덱스 번호로 값을 찾았다면 딕셔너리에서는 키를 통해서 그 키와 연결된 값을 찾음

In [83]:
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
print(capitals["Korea"]) # Korea라는 키에 접근해서 그 키와 연결된 값인 Seoul을 출력한다

Seoul

In [85]:
print(capital["France"])
# 존재하지 않는 키는 당연히 접근할 수 없다(오류가 발생한다)

NameError: name 'capital' is not defined

## get()함수: 딕셔너리의 임이의 키와 대응되는 값을 반환하는 메서드
### 첫번째 매개변수로 키의 이름을, 두번째 매개변수로 그 키에 대한 디폴트값을 받음
### 임의의 딕셔너리에 매개변수로 받은 키 이름이 있다면 그 키에 대한 값을 반환함(디폴트값 반환하는거 X)
### 딕셔너리에 키가 없다면 두번째 매개변수로 받았던 디폴트값을 반환함

In [87]:
print(capitals.get("France", "해당 키가 없습니다.")) # 두번째 매개변수로 France 키에 대한 디폴트값이 옴

해당 키가 없습니다.

In [89]:
# 딕셔너리 항목 추가
capitals = {} # 비어있는 딕셔너리 생성
# 비어있는 딕셔너리에 항목을 직접 추가
capitals["korea"] = "seoul"
capitals["usa"] = "washington"
capitals["uk"] = "london"
capitals["france"] = "paris" 
print(capitals)

{'korea': 'seoul', 'usa': 'washington', 'uk': 'london', 'france': 'paris'}

In [93]:
# 딕셔너리 항목 삭제
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
city = capitals.pop("UK") # 문자열 형태의 키는 대문자, 소문자 서로 구분함
# pop()함수로 UK 키에 해당하는 값만 뽑아냄
city

'London'

In [95]:
# 딕셔너리 항목 방문
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
for key in capitals:
    print(key, ":", capitals[key])
# 기본적으로 for문의 트리거(i)로 값을 출력하면 딕셔너리의 key만 나오게 됨
# key와 연결된 값을 출력하려면 capitals[key]로 명시적으로 표시해줘야 함

Korea : Seoul
USA : Washington
UK : London

In [96]:
# 딕셔너리의 키와 값을 튜플로 반환
capitals = {"Korea":"Seoul", "USA":"Washington", "UK":"London"}
for key, value in capitals.items():
    print(key, ":", value)

Korea : Seoul
USA : Washington
UK : London

## 기타 딕셔너리 메서드
### key(): 딕셔너리에 있는 모든 키를 출력
### values(): 딕셔너리에 있는 모든 값을 출력

In [5]:
# 딕셔너리 함축
values = [1, 2, 3, 4, 5, 6]

dic = {x : x ** 2 for x in values if x % 2 == 0} # 짝수인 수만 키에 넣고 그 제곱값은 밸류에 저장 
print(dic)

{2: 4, 4: 16, 6: 36}

In [4]:
dic = {i : str(i) for i in [1, 2, 3, 4, 5]} # 리스트의 숫자들을 문자 형태로 밸류에 저장
print(dic)

{1: '1', 2: '2', 3: '3', 4: '4', 5: '5'}

In [7]:
# 키와 밸류 바꾸기. 단, 키에 들어갈 값은 적절한 형식(문자열, 숫자만 키에 오므로)이어야 하고 고유한 값이어야 한다(즉 중복이어선 안된다)
dic1 = {"One" : 1, "Two" : 2, "Three" : 3}
dic2 = {n : w for w, n in dic1.items()}
dic2

{1: 'One', 2: 'Two', 3: 'Three'}

## -> 딕셔너리 메소드들 외우기(시험 나올 가능성 있음)

## 문자열에 내장된 함수
### chr(): 정수를 문자(char)로 변환
### ord(): 문자를 정수로 변환
### len(): 문자열의 길이를 반환
### str(): 객체의 문자열 표현을 반환

In [10]:
ord("a") # 소문자 a의 아스키 코드(정수)를 반환

97

In [12]:
ord("가") # 한글의 경우 유니코드를 반환

44032

In [14]:
chr(97) # 반대

'a'

In [16]:
chr(44243) # 반대

'곓'

In [17]:
s = "asdadasd"
len(s)

8

In [8]:
str(1 + 2j) # 문자열 형태로 반환

'(1+2j)'

In [23]:
# 문자열 또한 슬라이싱이 가능하다
s = "Monty Python"
s[6 : 10] # [6] <= x < [10]

'Pyth'

In [25]:
s = "Monty Python"
s[ : 2] # [0] <= x < [2]

'Mo'

In [27]:
s[4 : ]

'y Python'

In [29]:
s = "Monty Python"
s[ : 2] + s[2 : ] # ([0] <= x < [2]) + ([2] <= x < 끝까지) = [0]부터 끝까지

'Monty Python'

## 문자열은 변경 불가능한 객체이다.

In [30]:
# 회문 
s = input("문자열을 입력하십시오: ")

s1 = s[::-1] # 문자 거꾸로

if (s == s1):
    print("회문입니다.")
else:
    print("회문이 아닙니다.")

문자열을 입력하십시오:  asdadadasdasd

회문이 아닙니다.

In [32]:
# 여러 문자열 메소드
s = "i am a student."
s.capitalize() # 첫 문자만 대문자로 변환

'I am a student.'

In [36]:
s = "I am A StuDeNT."
s.lower() # 문자열의 모든 문자를 소문자로 변환

'i am a student.'

In [37]:
s.upper() # 반대

'I AM A STUDENT.'

In [38]:
s = input("파이썬 소스 파일 이름을 입력하시오: ")

if s.endswith(".py"): # 매개변수로 종료되는 문자열이면 True 반환
    print("올바른 파일 이름입니다.")
else:
    print("올바른 파일 이름이 아닙니다.")

파이썬 소스 파일 이름을 입력하시오:  asd.py

올바른 파일 이름입니다.

In [40]:
s = "www.name.com"
s.replace("com", "co.kr") # 첫번째 매개변수(문자열)을 두번째 매개변수(문자열)로 변경

'www.name.co.kr'

In [48]:
s = "www.naver.co.kr"
s.find("co") # 매개변수로 받은 문자열을 앞에서부터 찾아서 그 인덱스를 반환. 찾지 못하면 -1 반환
              # 매개변수 문자열의 가장 첫 번째 문자가 속한 인덱스 번호를 반환

10

In [47]:
s = "www.naver.co.co.kr"
s.rfind("co") # 뒤에서부터 문자열 찾음(매개변수 첫번째 문자 인덱스 번호만 반환하는건 그대로)

13

In [49]:
s = "www.naver.co.co.kr"
s.count(".") # 매개변수로 받은 문자열 개수 반환

4

## 문자 분류
### s.isalpha(): 문자열 s가 알파벳이면 True 반환
### s.isdigit(): 문자열 s가 숫가이면 True 반환
### s.islower(): 문자열 s가 모두 소문자이면 True 반환
### s.isupper(): 문자열 s가 모두 대문자이면 True 반환

## 공백문자 제거
### strip(): 문자열 앞, 뒤 공백문자 제거(문자 사이에 있는 공백은 제거 X)
### rstrip(): 문자열의 뒤 공백만 제거
### lstrip(): 문자열의 앞 공백만 제거

In [52]:
# 문자열 분해
s = "Welcome to Python"
s.split() # 공백을 기준으로 나누어진 문자열들을 분리하여 출력

['Welcome', 'to', 'Python']

In [2]:
s = "Welcome to Python"
s.split() #

['Welcome', 'to', 'Python']

In [6]:
s = "Hello, World!"
s.split(", ") # 매개변수로 구분자(문자열들을 구분하는 요소)를 명시적으로 설정할 수 있다
# 문자열에 있던 (콤마 + 공백)이 구분자로 쓰임(공백도 명시적으로 설정 가능하다는 의미)

['Hello', 'World!']

In [10]:
# join(): 문자열 결합 함수(split()함수와 반대로 동작)
", ".join(["apple", "grape", "banana"]) # 구분자를 바탕으로 여러 문자열들을 연결함

'apple, grape, banana'

In [12]:
"-".join("010.1234.5678".split(".")) # 문자열에서 .은 빼고 그자리에 -를 넣음

'010-1234-5678'

In [14]:
" ".join("Actions \n\t speak louder    than words.".split())
# join(), split() 같이 사용하면 공백 없애기 가능

'Actions speak louder than words.'

In [17]:
# 예제
import random

s = "0123456789"
passlen = 4

p = "".join(random.sample(s, passlen))
print(p)
# sample(): 첫번째 매개변수의 풀(범위)에서 두번째 매개변수의 수만큼 랜덤으로 픽함
# -> 0123456789의 수 중에서 랜덤으로 passlen(4개)만큼 수 뽑음

8531