In [3]:
temp = [1, 2, 3, 4] # 맨 처음 인덱스부터 0번 인덱스, 1번 인덱스, .... 또는 맨 끝 인덱스부터 -1번 인덱스, -2번 인덱스, ....
e = temp[-1]
e

4

In [7]:
temp = [1, 2, 3, 4, 5, 6]
for i in range(len(temp)): # temp 리스트의 길이만큼 반복 
    print(temp[i]) # 리스트의 인덱스 값들을 직접 출력하는 방식

1
2
3
4
5
6

In [3]:
list = [1, 2, 3, 4, 5]
blist = [2 * x for x in list]
print(blist)
blist

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [12]:
list = [[1, 2] + [1, 2]]
print(list)

[[1, 2, 1, 2]]

In [10]:
for a in temp: # temp리스트의 값들을 하나씩 출력한다는 의미
    print(a) # 인덱스 값 없이도 출력 가능한 방식

1
2
3
4
5
6

In [15]:
# zip 함수: 두개의 리스트 속 두개의 인덱스 값들을 묶을 수 있음
question = ['name', 'quest', 'color']
answer = ['Kim', 'Python', 'Blue']
for q, a in zip(question, answer):
    print(f"what is your {q}? its {a}")

what is your name? its Kim
what is your quest? its Python
what is your color? its Blue

In [1]:
price = 30000
expensive = price > 20000 
# expensive 변수에 할당된 것이 조건식이기 때문에(비교연산자 식), 변수를 출력 시 True 혹은 False로만 나옴
print(expensive)

True

In [16]:
# list.append(): 괄호 안에 있는 매개변수를 list안에 추가한다는 뜻
heroes = []
heroes.append('아이언맨')
heroes.append('스파이더맨')
print(heroes)

['아이언맨', '스파이더맨']

In [4]:
heroes = ['아이언맨', '토르', '헐크']
heroes.insert(1, '스파이더맨') 
# heroes리스트의 1번째 인덱스에 스파이더맨이라는 값을 할당하겠다는 뜻 
# -> 기존에 1번째 인덱스 값이었던 토르는 2번째 인덱스로(다음 순서로) 밀려남
print(heroes[1])

스파이더맨

In [3]:
heroes = ['아이언맨', '토르', '헐크']
n = heroes.index('헐크') 
# heroes리스트 안에서 괄호 안의 값을 찾고, 
# 찾았다면 인덱스 값(리스트의 순서)을 변수 n에 할당하겠다는 뜻(단, 처음 찾은 인덱스 값만 저장한다.)
n

2

In [2]:
# 동일한 인덱스가 리스트 안에 동시 존재하는 경우
heroes = ['아이언맨', '토르', '헐크', '스파이더맨', '헐크']
n = heroes.index('헐크', 3) 
# 3번째 인덱스(4번째 값)부터 헐크라는 인덱스를 찾겠다는 뜻 
# -> 헐크라는 인덱스가 2번, 4번에 존재하므로, 3번째부터 헐크를 찾는다는 것은 2번은 건너뛰었다는 뜻
print(n) # 변수 n에는 4가 할당됨

4

In [32]:
heroes = ['아이언맨', '토르', '헐크']
heroes.pop(1) # heroes리스트에 있는, 1번째 인덱스의 값(토르)을 삭제
print(heroes)

['아이언맨', '헐크']

In [1]:
heroes = ['아이언맨', '토르', '헐크']
heroes.remove('토르') 
# heroes리스트 안에 존재하는 토르라는 값을 찾아 이를 삭제(몇번째 인덱스인지는 상관 X) 
# -> n번째 인덱스 값을 삭제하는 pop과 반대임
print(heroes)

['아이언맨', '헐크']

In [38]:
# 리스트 관련 연산, 함수들 외울 것
a = [1, 2, 3, 4, 5]
print(min(a)) # 최솟값 반환: 1
print(max(a)) # 최댓값 반환: 5

1
5

In [43]:
b = [2, 54, 6, 3, 4, 1, 5]
b.sort() # 수들을 정렬(기본적으로 작은값에서 큰값으로)
b

[1, 2, 3, 4, 5, 6, 54]

In [46]:
# 반대도 가능
b.sort(reverse = True) # 큰갑에서 작은값으로
b

[54, 6, 5, 4, 3, 2, 1]

In [47]:
#문자열은 알파벳 순이 기본, 반대도 가능
c = ['a', 'd', 'g', 'e', 't', 'g']
c.sort()
c

['a', 'd', 'e', 'g', 'g', 't']

In [50]:
# 기존 리스트를 정렬한 새로운 리스트를 생성
a = [3, 4, 6, 2, 8, 9, 22, 1]
b = sorted(a)
print(b)
print(a) # 기존 리스트는 그대로 남아있음

[1, 2, 3, 4, 6, 8, 9, 22]
[3, 4, 6, 2, 8, 9, 22, 1]

In [2]:
num = [1, 2, 3, 4, 5]
print("합=", sum(num)) # 리스트 인덱스들의 총합
print("최대값=", max(num)) # 인덱스 중 가장큰값
print("최소값=", min(num)) # 인덱스 중 가장작은값

합= 15
최대값= 5
최소값= 1

In [4]:
import random
number = [1, 2, 3, 4, 5, 6, 7]
print("랜덤으로 선택한 항목=", random.choice(number)) # 인덱스에서 랜덤으로 값 하나 꺼냄

랜덤으로 선택한 항목= 3

In [5]:
import random
string = ["a", "ab", "b", "c", "cd", "acd", "abcd"]
print("랜덤으로 선택한 항목=", random.choice(string)) # 인덱스에서 랜덤으로 문자열 하나 꺼냄

랜덤으로 선택한 항목= ab

In [8]:
# 성적 처리 프로그램
STUDENT = 5 # 상수
list = [] # 디폴트
count = 0; # 일정기준 이상인 학생 수

for i in range(STUDENT): # 반복문으로 학생성적 리스트에 최대까지 채움
    value = int(input("성적을 입력하십시오: "))
    list.append(value) # 사용자 입력값 리스트에 저장

print("\n전체성적 평균=", sum(list) / len(list)) # len(list): 리스트의 전체 인덱스 개수
print("최고점수=", max(list))
print("최저점수=", min(list))

for score in list: # 인덱스 전부 비교하면서 기준 충족하는 인덱스 찾기
    if score >= 80:
        count += 1
print("80점 이상 학생 수=", count)

성적을 입력하십시오:  80
성적을 입력하십시오:  80
성적을 입력하십시오:  0
성적을 입력하십시오:  80
성적을 입력하십시오:  70

전체성적 평균= 62.0
최고점수= 80
최저점수= 0
80점 이상 학생 수= 3

In [10]:
# 리스트에서 두번째로 큰수 구하는 방법(정렬하는 방법)
list1 = [1, 5, 33, 2, 66, 44]
list1.sort() # 리스트 작은수부터 정렬

print("두번째로 큰수=", list1[-2]) # -1: 맨뒤의 수(정렬기준 가장큰수) -2: 그다음 큰수

두번째로 큰수= 44

In [11]:
# 리스트에서 두번째로 큰수 구하는 방법(가장큰수 삭제하는 방법)
list1 = [1, 5, 33, 2, 66, 44]
list1.remove(max(list1)) # 가장큰수 리스트에서 삭제

print("두번째로 큰수=", max(list1)) # 기존 리스트에서 두번쨰로 큰 수였던게 이제 가장큰수

두번째로 큰수= 44

In [12]:
# 리스트에서 최고, 최저 인덱스 제거(2번방법)
scores = [10.0, 1.0, 2.0, 33.0]

print("제거전: ", scores)
scores.remove(max(scores))
scores.remove(min(scores))
print("제거후: ", scores) # 삭제후

제거전:  [10.0, 1.0, 2.0, 33.0]
제거후:  [10.0, 2.0]

In [15]:
# 리스트에서 최고, 최저 인덱스 삭제 및 정렬
scores = [10.0, 1.0, 5.0, 7.0, 2.0, 33.0]

print("제거전: ", scores)
scores.sort() # 정렬(오름차순)

newscores = scores[1 : -1] # 리스트 슬라이싱: 정렬한 기존 리스트에서 맨앞(최저), 맨뒤(최고) 자르기
print("제거후: ", newscores) # 삭제후

제거전:  [10.0, 1.0, 5.0, 7.0, 2.0, 33.0]
제거후:  [2.0, 5.0, 7.0, 10.0]

In [17]:
# 리스트 사용한 스택 자료구조 구현
stack = []

for i in range(3):
    f = input("과일을 입력하십시오: ")
    stack.append(f) # 인덱스 0번부터 차례대로 리스트에 추가

for i in range(3):
    print(stack.pop()) # 스택: 후입선출(나중에 들어온게 먼저 나감) 
                       # pop: 리스트 맨 마지막 인덱스 반환 후 그 인덱스 삭제 
                       # -> 나중에 들어온 인덱스를 pop으로 뒤에서부터 뺄수 있어 스택 구조 구현 가능

과일을 입력하십시오:  감
과일을 입력하십시오:  배
과일을 입력하십시오:  사과

사과
배
감

In [20]:
# 리스트 합체
a1 = [1, 3, 5, 7, 9]
a2 = [2, 4, 6, 8, 10]
a3 = a1 + a2 # 두 리스트를 하나로 합체함
             # 첫번째 피연산자 인덱스들에 두번째 피연산자 인덱스들을 뒤에 갖다붙임
a3

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [21]:
# 복제
b = [1, 2, 3, 4] * 3 # 곱해지는 수만큼 인덱스들을 복제해서 원래 리스트 뒤에 갖다붙임
b

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [22]:
# 리스트 비교
A1 = [1, 2, 3]
A2 = [1, 2, 3]
print(A1 == A2)

True

In [26]:
B1 = [1, 2, 3]
B2 = [4, 5, 6]
print(B1 < B2) # 각 리스트의 같은 n번째 인덱스 값들을 서로 비교

True

In [27]:
C1 = [1, 2, 3]
C2 = [4, 1, 2]
print(B1 > B2) # 리스트의 모든 인덱스들이 비교 연산자를 만족했을때만 True, 하나라도 틀리면 False 출력

False

In [6]:
# 리스트 복사(중요, 시험 나올확률 높음)
temp = [23, 35, 45, 64, 14, 12, 56, 77]
values = temp 
# temp 리스트의 인덱스들을 values라는 리스트에 복사
# 절대 값을 그대로 복사해서 values에 똑같이 붙여넣기 하는게 아님
# 그저 temp를 참조하는 값만 values에 저장되는 것이므로 value는 실제로 값을 가지는 리스트가 아님(얕은 복사)
# 이때 values 자체는 포인터 변수가 아니며, 
# 굳이 따지자면 포인터 변수에 *을 사용해서 포인터 변수가 가리키는 값을 참조하는 의미를 갖는다고 보면 됨
print(values) # temp를 복사했으므로 temp와 같은 값을 출력
print(temp)

[23, 35, 45, 64, 14, 12, 56, 77]
[23, 35, 45, 64, 14, 12, 56, 77]

In [30]:
print(id(temp)) # 두 리스트의 주소를 반환하는 함수 id()
print(id(values)) # 두 리스트는 같은 인덱스를 참조하므로 가리키는 주소가 같음

132017871708928
132017871708928

In [34]:
print(temp)
values[3] = 39 # values가 참조하는 3번 인덱스의 값을 변경
               # 여기서 values는 temp리스트를 참조 중이므로 
               # values가 가진 리스트에서 변경하는게 아니라 참조를 통해 참조 중인 temp리스트의 값을 변경
               # 인덱스를 직접 변경하는건 맞으므로 이는 temp가 갖고있는 리스트에도 영향을 끼침
print(temp) # 기존 리스트에서 값이 바뀐 모습

[23, 35, 45, 64, 14, 12, 56, 77]
[23, 35, 45, 39, 14, 12, 56, 77]

In [1]:
# 이미 list라는 이름의 리스트를 위에서 사용했어서 삭제해주고 들어가야함
# 삭제 안하면 깊은복사할때 쓰는 표현인 list()를 사용할때 이미 존재하는 리스트가 있어서 오류 발생
# 깊은 복사(Deep Copy)
temps = [12, 345, 35, 64, 65, 76, 90]
value = list(temps) 
# value를 temps리스트의 값을 복사하여 직접 붙여넣은, 즉 value가 실제로 리스트를 가지도록 복사함(깊은 복사)

print(temps)
print(value)


# 얕은 복사: 어떤 리스트의 참조값만 다른 리스트에 복사(참조값 복사)
# 깊은 복사: 어떤 리스트를 통째로 다른 리스트에 복사(기본값 복사)

[12, 345, 35, 64, 65, 76, 90]
[12, 345, 35, 64, 65, 76, 90]

In [8]:
# 리스트 슬라이싱
# 리스트에서 한번에 여러 항목을 추출하는 기법
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
numbers[:3] # 리스트에서 [0]부터 [3] 전까지 자른다는 뜻
            # 1: [0] 2: [1] 3: [2] 4: [3]([3]전까지만 자르므로 4는 안옴), 즉 범위가 [0] <= x < [3](= [0] <= x <= [2])

[1, 2, 3]

In [17]:
numbers[3:] # [3]부터 맨 끝 인덱스까지 자르겠다는 뜻
            # [3]: 4 ... [8](맨끝) = 9

[4, 5, 6, 7, 8, 9]

In [13]:
numbers[:] # 변화 없음

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
new_numbers = numbers[:] # 새로운 리스트에 대입 시 깊은복사 일어남(다른 리스트에 자른 리스트를 복사 가능하다는 뜻)
print(new_numbers)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print(id(new_numbers))
print(id(numbers))
# 둘이 주소 다름

132435744712640
132435744717824

In [25]:
# 몇칸 뛰면서 자를지 결정 가능한 방법
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sublist = a[2 : 7 : 2] # [2](시작)부터 [7](끝)까지 2칸 간격으로(기본 간격은 1칸씩) 자르겠다는 뜻
sublist # [2]: 3 [4](2칸 뜀): 5 [6]: 7

[3, 5, 7]

In [9]:
# 리스트 역순
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a[::-1] 
# [0][(시작, 생략됨)부터 [8](끝, 생략됨)까지, 간격을 -1로 해서 자르기
# (간격이 -1이므로 역순([8]시작, [0] 끝)으로 가는거임)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
a[3::-1] # [3]부터 맨끝까지 -1간격(역순)으로 자르기 -> 그냥 간격 부호가 -면 반대로,
         # 즉 기존에 정해놓은 시작과 끝 지점이 반대가 된다고 생각하면 됨
         # 따라서 시작이 [3], 끝이 맨끝(생략)에서 맨앞[0]으로 바뀜(역순이므로)

[4, 3, 2, 1]

In [33]:
# 리스트 변경
b = [1, 2, 3, 4, 5, 6, 7, 8]
b[0:3] = ['a', 'b', 'c'] # 리스트의 [0]부터 [3]까지의 인덱스 값을 대응되는 인덱스로 '차례대로' 변경
# [0]: a로 변경 [1]: b로 변경 [2]: c로 변경 [3]: 대응된 인덱스 값이 없으므로 변경 못함(유지) -> 차례대로 변경함
b

['a', 'b', 'c', 4, 5, 6, 7, 8]

In [36]:
b = [1, 2, 3, 4, 5, 6, 7, 8]
b[::2] = [96, 97, 98, 99]# [0]부터 맨끝까지 2칸 간격으로 뛸때마다 그 인덱스 값을 대응한 값으로 차례대로 변경
b # [0]: 96 변경 [2]: 97 변경 [4]: 98 변경 [6]: 99 변경

[96, 2, 97, 4, 98, 6, 99, 8]

In [ ]:
b = [1, 2, 3, 4, 5, 6, 7, 8]
b[:] = [] # [0]부터 맨끝(생략하면 맨끝까지를 의미, 명시적으로 표현하면 그 수 바로 전까지를 의미)
b # 모든 인덱스 값을 NULL로 변경, 아무것도 없게 됨

[]

In [45]:
c = list(range(0, 10)) # 0부터 10 미만(즉 9)까지의 값(인덱스 순서 아님)을 리스트로 만들어 c에 저장
print(c)

del c[-1] # [-1]이 리스트의 맨 마지막 인덱스를 의미하므로 그 인덱스를 삭제한다는 뜻
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
# 문자열 리스트
s = "Monty Python" # 큰따옴표(" "): 문자열 작은따옴표(' '): char형 문자
print(s[0]) # [0]: M
print(s[6:10]) # [6]부터 [10] 미만([6]부터 [9]까지를 의미)까지의 문자열을 출력
print(s[-12:-7]) # [-12]부터 [-8]([[-7] 미만)까지 출력

M
Pyth
Monty

In [58]:
# 함수 인수 전달 방식(파이썬 버전): 값 호출, 참조 호출 두개만 있음
# 파이썬에서 정수나 문자열처럼 변경이 불가능한 객체들은 값으로 전달(복사본)
# 함수 안에서 객체의 값을 변경하면 새로운 객체가 생성됨
# 변경 불가한 객체는 값으로 전달된다 보면 됨
# 객체의 참조값이 함수 매개변수로 전달되지만 함수 안에서 객체 값을 변경하면 새로운 객체가 생성되기 때문
def func1(x):
    x = 42 # 매개변수로 받은 x의 값을 42로 변경하면 새로운 객체가 생성됨
           # 인수로 들어간 y 값을 42로 변경하면 함수 밖에서 선언된 y와 서로 다른 객체가 생성되는 것
           # 이름은 y로 같지만 서로 다른 객체임
           # 값을 변경하지 않는다면 또다른 객체를 생성하는거 아님. 그냥 인수로 들어간 객체 그거만 존재하는거임
    
    print("x = ", x, "id = ", id(x))

y = 10
func1(y)
print("y = ", y, "id = ", id(y)) 
# 함수 밖에 있는 객체와 함수 안에 있는 객체는 서로 다른 두 객체인 동시에
# 서로 다른 값을 가짐(주소가 다름)

x =  42 id =  8886632
y =  10 id =  8885608

In [56]:
# 리스트가 함수로 전달될때(중요)
def func2(list):
    list[0] = 99 # 인수로 오는 리스트의 [0]을 99로 변경 
                 # 함수 내부에서 변경한 값이 전역에도 반영됨
v = [0, 1, 1, 2, 3, 5, 8]
print(func2(v)) # 함수 정의부에 return을 안썼으므로 반환하는 값 없음
                # 따라서 인수를 넣은 함수의 값을 출력하려 해도 반환값이 없으므로 None(반환값 없음)을 출력
print(v) # 함수 안에서의 변경이 함수 밖에 있는 리스트에도 영향을 줌

None
[99, 1, 1, 2, 3, 5, 8]

In [61]:
# 리스트 함축
# 형식: [ 수식 for (변수 in 리스트) if (조건식) ]
# for문을 사용한 리스트 인덱스 추가 방식
squares = []
for x in range(10): # x 시작갑 0부터 9까지 for문 반복
    squares.append(x*x) # x를 제곱한 값을 리스트에 [0]부터 추가
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
# 리스트 함축 사용
squares = [x*x for x in range(10)] # 위에 있는 코드와 같은 의미
                                   # 리스트의 인덱스를 for문을 사용한 x*x 값으로 하겠다는 뜻
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
# for문 방식 if문 추가
a = []
for x in range(10):
    if x % 2 == 0: # 조건 추가: x가 짝수일때만 그 제곱수를 리스트에 추가
        a.append(x*x)

a

[0, 4, 16, 36, 64]

In [68]:
# 함축 문법 사용
a = [x*x for x in range(10) if x % 2 == 0] # if문도 리스트 대괄호 안에 같이 넣어버림
a

[0, 4, 16, 36, 64]

In [70]:
p = [135, -545, 922, 356, -992, 217]
m = [i if i > 0 else 0 for i in p] 
# p 리스트에서 0보다 큰 원소(for문 안이므로 i를 의미)는 그대로, 0보다 작거나 같으면 0을 리스트 m에 인덱스로 추가
m

[135, 0, 922, 356, 0, 217]

In [78]:
word = ["All", "good", "things", "must", "come", "to", "an", "end."]
l = [i[0] for i in word] # w리스트의 인덱스(문자열)에서 [0]의 값(즉, 첫번째 글자)만 리스트 l에 추가
l

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [80]:
b = [(x + y) for x in ['a', 'b', 'c'] for y in ['x', 'y', 'z']]
# 두 리스트의 문자들을 합친 문자열을 리스트 b에 저장
b

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [82]:
# 사용 예시
c = [x for x in range(100) if x % 2 == 0 and x % 5 == 0] 
# 0부터 99까지의 수중 10의 배수만 리스트에 저장
print(c)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [84]:
# 누적값 리스트
a = [1, 2, 3, 4, 5]
b = [sum(a[0:x + 1]) for x in range(0, len(a))]
# 0부터 5(리스트 a의 인덱스 개수 5)까지
print("원래 리스트: ", a)
print("새로운 리스트: ", b)

원래 리스트:  [1, 2, 3, 4, 5]
새로운 리스트:  [1, 3, 6, 10, 15]

In [2]:
# 2차원 리스트
rows = 3 
cols = 5 # 3 x 5 배열

s = [] # 빈 리스트 생성
for row in range(rows):
    s += [[0] * cols] # [0]가 5번 반복되는 리스트를 리스트 s에 추가, 이를 3번 반복

print("s = ", s) # 리스트 s는 3개의 큰 인덱스를 가지며, 각각의 인덱스 안에는 0이라는 인덱스들이 5개씩 들어있음

s =  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [6]:
r = 3
c = 5
s = [ ([0] * c) for i in range(r) ]

print("s = ", s)

s =  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [5]:
r = 3
c = 5

s = []
for i in range(r):
    s.append([0] * c)

print("s = ", s)

s =  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [9]:
s = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

rows = len(s) # 행(가로줄) 개수
cols = len(s[0]) # 열(세로줄) 개수

for r in range(rows):
    for c in range(cols):
        print(s[r][c], end = ", ")
    print() # 줄바꿈

1, 2, 3, 4, 5,
6, 7, 8, 9, 10,
11, 12, 13, 14, 15,

In [11]:
# 가로 합계, 세로 합계 계산
s = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

# 행의 열과 개수 구하기
rows = len(s)
cols = len(s[0])

i = 1
total = 0

for j in range(cols):
    total += s[i][j]

print(total)

j = 1
total = 0 # 초기화

for i in range(rows):
    total += s[i][j]

print(total)

40
21

In [13]:
# len(s): 행의 개수(리스트 s의 길이), 즉 3
# len(s[0]): s[0] 인덱스의 길이, 즉 5

def sum(numbers): # 2차원 리스트 함수로 넘기기
    total = 0
    for i in range(len(numbers)):
        for j in range(len(numbers[0])):
            total += numbers[i][j]
    return total

In [14]:
s = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
sum(s)

120

In [16]:
# 2차원 리스트 함축
matrix = [[i for i in range(5)] for _ in range(6)] 
# 0, 1, 2, 3 ,4 까지의 5개의 인덱스 묶음을 6개까지 생성
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [17]:
matrix = [[0, 0, 0], [1, 1, 1], [2, 2, 2]]
result = [num for row in matrix for num in row]
print(result)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [19]:
# 같은결과, 다른 방법
matrix = [[0, 0, 0], [1, 1, 1], [2, 2, 2]]
result = []
for row in matrix:
    for num in row:
        result.append(num)

print(result)

[0, 0, 0, 1, 1, 1, 2, 2, 2]