In [23]:
x = 100
print(x)
# 변수 x에 일정한 값 100을 할당함
# print함수를 이용해 변수 x를 출력하면 변수에 할당된 값 출력
# 단, 따옴표 붙이면 문자 x가 그대로 출력
# 붙여써도 상관 없으나 가독성을 위해 띄어쓰기 권장
x = 200
x
# 그냥 변수 x만 쳐도 변수에 할당된 값이 출력됨
# 변수 출력할때는 print함수 이용해 출력하는 것을 권장(후에 오류 찾아내기 어려움)

100

200

In [1]:
x = 100
x = 200 # 처음 100으로 초기화했던 x를 200으로 변경
print(x)

200

In [15]:
x = 100
y = 200
sum = x + y
print(sum)
# 변수 x를 생성 후 100이라는 값 저장
# 변수 y를 생성 후 200이라는 값 저장
# sum이라는 변수 생성 후 x + y라는 값 저장

300

In [2]:
# 이런것도 가능하다
score = 10
score = score + 1 # score += 1
print(score)

11

In [12]:
# 변수를 활용한 간단한 계산식 작성
radius = 10
area = 3.14 * radius * radius
print('반지름', radius, '인 원의 넓이=', area)

반지름 10 인 원의 넓이= 314.0

In [24]:
a = 10
A = 20
print(a)
print(A)
#변수에서 대문자, 소문자는 서로 다른 문자로 취급한다.
b_5 = 10
#변수의 이름은 영문자, 숫자, 밑중(_)로 구성할 수 있다.

10
20

In [21]:
b 5 = 10
# 변수 이름에는 띄어쓰기가 들어갈 수 없다.(기존의 띄어쓰기는 밑줄로 대신한다.)

SyntaxError: invalid syntax (468852014.py, line 1)

In [ ]:
myNewCar = 1
# 낙타체(카멜 표기법): 변수의 첫 단어의 첫 글자는 소문자로, 나머지 단어의 첫 
# 글자는 대문자로 표기하는 방법
# 띄어쓰기(밑줄) 없이 변수 이름을 만드는 방법 중 하나임

In [50]:
# 자료형 정리
# 정수: integer(줄여서 int) 
# 부동소수점: float
# 복소수: complex
# 문자형: string(줄여서 str)
# 튜플: tuple
# 리스트: list
# 기타 - 부울형: boolean -> 참과 거짓을 나타내는 데이터 타입

In [54]:
print(type(1234))
type(1234)
# type함수: 괄호 안 문자가 어떤 자료형인지 알 수 있다.

<class 'int'>

int

In [57]:
type(1234) # int 
type('안녕하세요') # str
# type함수만 사용하면 가장 밑에 있는 type함수의 괄호 안 문자의 자료형을 출력한다.

str

In [51]:
x = 10
id(x)
# 변수에 저장되는 것은 실제 값이 아닌 객체의 참조값(주소)이다.
# 출력되는 것은 변수를 구별하기 위해 부여된 주소이다.

8885608

In [49]:
x = 3
y = x
print(id(x))
print(id(y))
# 변수 y에 변수 x의 참조값이 복사된다 -> 같은 주소를 가진다.
y = 10
print(id(y))
# 변수 y에 다른 값이 할당되면 다른 주소를 가진다.

8885384
8885384
8885608

In [4]:
ftemp = 100

ctemp = (ftemp-32.0)*5.0/9.0
print("섭씨온도: ", ctemp)
# 화씨온도 값을 입력받아 함수를 통해 섭씨온도로 변환된 값을 출력

섭씨온도:  37.77777777777778

In [8]:
x = 100
y = 100
sum = x + y
#diff = x - y
print("합은",sum)

합은 200

In [29]:
r = int(input("원기둥의 반지름: "))
h = int(input("원기둥의 높이: "))

V = 3.14 * r ** 2 * h # 거듭제곱은 '**'로 표현
print("원기둥의 부피:", V)

원기둥의 반지름:  10
원기둥의 높이:  1

원기둥의 부피: 314.0

In [14]:
7 + 4.0
# 연산에서 정수값(int)와 부동소수점 값(float)을 입력하면 결과값은 항상 
# 부동소수점으로 출력된다.

11.0

In [20]:
x = 1 # 변수 x에 1이라는 값을 할당
print(x)

y = 3 # 변수 y에 3이라는 값을 할당
print(y) 

x = x * 0.5 + y # 변수 x에 (x * 0.5 + y)라는 값을 할당
                # (x * 0.5 + y)에서 변수 x와 y에는 각각 1과 3이라는 값이 
                # 이미 할당돼 있다.
print(x)
# 할당연산자(=): 왼쪽 변수에 오른쪽 값을 할당한다.

1
3
3.5

In [18]:
x = 100
y = 5
x += y
print(x)
# 복합연산자: 대입연산자를 다른 연산자와 합친 연산자이다.
# ex) x += y -> x = x + y

105

In [22]:
x = y = z = 0
print(x, y, z)
# 변수 x, y, z에 0이라는 값을 할당
# 변수 x, y, z는 모두 같다.

0 0 0

In [27]:
x, y, z = 10, 20, 30
print(x, y, z)
# 위의 셀에서 변수 x, y, z에 할당된 값을 한번에 초기화
# 각각의 셀에서 변수에 저장된 값은 공유된다
# 이후 각각 10, 20, 30이라는 값을 할당
# 지금 변수 x, y, z에는 각각 10, 20, 30이라는 값이 할당된 상태

10 20 30

In [34]:
x = 3.14
int(x)
# 자료형 int(자료형 정수)면 변수 x에서 정수형인 값을 출력

3

In [35]:
y = 3
float(y)
# 자료형 flaot(자료형 부동소수점)이면 변수 y가 정수여도 소수점까지 표현

3.0

In [37]:
z = 1.82342342

round(z)
# round함수: 변수에 할당된 값을 반올림하여 출력

2

In [43]:
w = 1.72332453456 
print(w, round(w, 2))
# round함수 뒤에 숫자 n 추가: 소수점 n번째 자리까지 표시
# =소수점 n+1번째 자리에서 반올림
# 소수점 2번째 자리까지 표시하므로 소수점 3번째 자리에서 반올림하여 출력)
# 주의: 변수에 저장된 값은 그대로

1.72332453456 1.72

In [52]:
print("hi")
print(3)
# 따옴표 안 문자는 문자열로 구분(자료형 str)

hi
3

In [54]:
print(3+2)
print("3+2")
# 숫자는 그냥 적으면 자료형 int지만 따옴표 안에 넣으면 자료형이 str로 변한다

5
3+2

In [48]:
"hello " + "world"
# 문자열끼리 합칠 수 있다

'hello world'

In [55]:
movie = "Terminator" + 3
# 문자열과 문자열끼리만 붙일 수 있음(오류발생)

TypeError: can only concatenate str (not "int") to str

In [58]:
print("안녕\n하세요")
# \n: 줄바꿈 문자(\n 뒤 문자들은 줄 바꾸므로 밑에 줄부터 다시 출력)

안녕
하세요

In [62]:
a = "hello world"
a[0]
# 문자는 각각의 방을 하나씩 가진다
# a[0](a 인덱스 0): 변수 a에서 0번째 문자 출력: 
# 가장 앞에있는(0번째부터 시작) 'h' 문자가 출력

'h'

In [68]:
a = "Kim" # 문자열을 변수에 할당하려면 꼭 따옴표 안에 문자열 넣기
b = "Park"
c = a[0] + "와" + b[0]
print(c)

K와P

In [3]:
# input 함수
name = input("이름을 입력하세요: ") # input함수를 통해 사용자의 이름을 
                                    # 입력받아 변수 name에 저장

print(name) # 변수에 대입된 값을 출력

이름을 입력하세요:  최유성

최유성

In [10]:
s1 = int(input("첫 번째 정수를 입력하세요:"))                           
s2 = int(input("두 번째 정수를 입력하세요:")) 

# 파이썬에서는 변수 선언할때 앞에 자료형 입력 안함
# input함수로 값 입력받을때 input함수 전체에 괄호 치고 앞에 자료형 붙이면
# 사용자에게 입력받은 값을 그 자료형으로 저장하여 변수에 할당
sum = s1 + s2
print(sum)

첫 번째 정수를 입력하세요: 2
두 번째 정수를 입력하세요: 2

4

In [21]:
x = 100
y = 200
print(f"{x}와 {y}의 합={x + y}") 
# 중괄호 안에 변수 넣어 문자열 그대로                                  
# 출력되지 않게 할 수 있다(따옴표 앞에 f(f-string) 붙인다) 
# 변수와 문자열을 함께 출력할 수 있다.

100와 200의 합=300

In [16]:
SQMETER_PER_P = 3.3

area = eval(input("면적(제곱미터):"))
py = area / SQMETER_PER_P
print("%.2f" % py, "평") 
# %2.f: 부동소수점 문자를 소수점 둘째자리까지 표시(C에 나왔던거)

면적(제곱미터): 25.6

7.76 평

In [18]:
int("3.14") # 정수형을 입력해야 하는데 소수점을 입력해서 오류 발생

ValueError: invalid literal for int() with base 10: '3.14'

In [20]:
int(float("3.14")) 
# 입력받은 값을 flaot자료형으로 변경했다가 다시 int형으로 변경 
# -> 최종적으로 정수가 출력

3

In [26]:
print("안녕하세요?")
name = input("이름이 어떻게 되시나요?")
print(f"만나서 반갑습니다. {name}씨")
print("이름의 길이는 다음과 같군요:", len(name)) 
# len(변수명)함수를 통해 변수에 할당된 값의 길이
# (셀의 문자 개수, 빈칸 포함)를 반환

안녕하세요?

이름이 어떻게 되시나요? 최유성

만나서 반갑습니다. 최유성씨
이름의 길이는 다음과 같군요: 3